@model Order

@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<div class="container container1">
    <a asp-controller="Orders" asp-action="OrderTable" class="title3"> <- Вернуться назад </a>
    <form asp-controller="Orders" asp-action="OrderEditForm" method="post">
        <div class="admin-box">
            <input type="hidden" asp-for="IdOrders" value="@Model.IdOrders">
            <div class="admin-wrap">
                <div class="admin-label admin-label-left">
                    <label>Пользователь</label>
                </div>
                <select asp-for="IdUser" class="admin-input" required style="border: none; padding-right: 70px;" asp-items="@ViewData["IdUser"] as SelectList">
                    <option value="@Model.IdUser" style="background-color: #5A3A79;">@Model.IdUserNavigation.Login</option>
                </select>
            </div>

            <div class="admin-wrap">
                <div class="admin-label">
                    <label>Услуга</label>
                </div>
                <select asp-for="IdService" class="admin-input" required style="border: none; padding-right: 30px;" asp-items="@ViewData["IdService"] as SelectList">
                    <option value="@Model.IdService" style="background-color: #5A3A79;">@Model.IdServiceNavigation.Service1</option>
                </select>
            </div>

            <div class="admin-wrap">
                <div class="admin-label">
                    <label>Цена</label>
                </div>
                <input type="number" asp-for="Price" class="admin-input" required value="@Model.Price">
            </div>

            <div class="admin-wrap">
                <div class="admin-label">
                    <label>Статус</label>
                </div>
                <select asp-for="Status" class="admin-input" required style="border: none; padding-right: 70px;">
                    <option value="@Model.Status" style="background-color: #5A3A79;">@Model.Status</option>
                    <option value="В обработке">В обработке</option>
                    <option value="Готов">Готов</option>
                    <option value="Выполнен">Выполнен</option>
                    <option value="Отменен">Отменен</option>
                </select>
            </div>

            <div class="admin-wrap">
                <div class="admin-label">
                    <label>Дата</label>
                </div>
                <input type="date" asp-for="Date" class="admin-input" required style="padding-bottom: 18px;" value="@ViewBag.FormattedDate">
            </div>

            <div class="admin-wrap">
                <div class="admin-label">
                    <label>Время</label>
                </div>
                <input type="time" asp-for="Time" class="admin-input" required style="border: none; padding-bottom: 16px;" value="@Model.Time">
            </div>

            <div class="admin-wrap">
                <div class="admin-label admin-label-right">
                    <label>Адрес</label>
                </div>
                <input type="text" asp-for="Address" class="admin-input" required value="@Model.Address">
            </div>


        </div>
        <button type="submit" class="main-about-primex__button">Изменить</button>
    </form>
</div>
