@model User
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<div class="container container1">

    <table class="admin__table">
        <tr class="admin__tr">
            <th class="admin__th admin__th-left">ID</th>
            <th class="admin__th">Логин</th>
            <th class="admin__th">ФИО</th>
            <th class="admin__th">Email</th>
            <th class="admin__th">Телефон</th>
            <th class="admin__th admin__th-right">Роль</th>
        </tr>

        <tr class="admin__tr">
            <td class="admin__td">@Model.IdUser</td>
            <td class="admin__td">@Model.Login</td>
            <td class="admin__td">@Model.FullName</td>
            <td class="admin__td">@Model.Email</td>
            <td class="admin__td">@Model.Telephone</td>
            <td class="admin__td">@Model.Access</td>
        </tr>

    </table>
    
    <p class="title3" style="margin-bottom: 20px;"> Вы уверены, что хотите удалить этого пользователя? </p>
    <form asp-controller="Users" asp-action="UserDelete" method="post">
        <input type="hidden" asp-for="IdUser" value="@Model.IdUser" />
        <button type="submit" class="main-about-primex__button">Удалить</button>
        <a asp-controller="Users" asp-action="UserTable" class="main-about-primex__button" style="background-color: transparent; box-shadow: none;">Отмена</a>
    </form>

</div> 